.hero-section {
    position: relative;
    height: 100%;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    
  }
  
  .hero-content {
    text-align: center;
    padding-top: 160px; 
  }
  
  .hero-content h1 {
    font-size: 52px;       
    font-weight: 700;      
    color: #000000;
    margin: 0;
  }
  
  .hero-content p {
    font-size: 20px;
    font-weight: 400;
    color: #6e7c91;
    margin-top: 20px;
  }
  
  .download-buttons {
    margin-top: 20px;
    display: flex;
    justify-content: center;
    gap: 16px;
  }
  
  .download-buttons img {
    height: 50px;
    width: auto;
    max-width: 150px;
    cursor: pointer;
  }
  
  .graphic-section {
    position: relative;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: flex-end;
    margin-bottom: -50px; 
  }
  
  .red-circle {
    width: 550px;
    height: 550px;
    background: linear-gradient(to bottom right, #f9e9c6, #ff7f48); 
    border-radius: 50%;
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 20px;
  }
  
  
  .single-phone {
    width: 430px;
    height: auto;
    z-index: 2;
    transform: rotate(-5deg);
    filter: drop-shadow(0 8px 16px rgba(0, 0, 0, 0.2)); 
  }
  
  @media (max-width: 640px) {
    .red-circle {
      width: 420px;
      height: 420px;
    }
  
    .single-phone {
      width: 320px;
      transform: rotate(-3deg);
    }
  }
  
  @media (max-width: 480px) {
    
    .red-circle {
      width: 300px;
      height: 300px;
    }
  
    .single-phone {
        width: 300px;
        transform: rotate(-3deg); 
      }
  }